MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=db_kindlead
MYSQL_USER=packing
MYSQL_PASSWORD=change-me
PYTHON_API_HOST=http://localhost
PYTHON_API_PORT=5000
PACKING_DATA_DIR=/tmp/packing
INTERNAL_API_BASE_URL=http://localhost:8101
VUE_APP_PROXY_TARGET=http://localhost:8101
VUE_APP_WS_PROXY_TARGET=http://localhost:8101
VUE_APP_ASSET_PROXY_TARGET=http://localhost:5001
